@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$light: #e4edf0;
$light2: #c0dae2;
$light3: #b0d4e2;
$medium: #51c4d3;
$medium2: #44b9c9;
$medium3: #3aa4b3;
$dark: #126e82;
$dark2: #0f6579;
$dark3: #0c5f72;
$darker: #193c46;
$darker2: #16353d;
$darker3: #132c33;

$font1: 'Josefin Sans';
$font2: 'Antic Slab';
$font3: 'Homemade Apple';
$font4: 'Martel';
$font5: 'Ubuntu';

$maxWidth: 1200px;

* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
    font-family: $font1, $font2, $font3, $font4, serif, sans-serif;
}

body {
    min-height: 100vh;
}

// .....................................................
// HEADER STYLES
// .....................................................

#pageTitle {
    font-family: 'Antic Slab';
    text-align: center;
    padding: 1.5rem 0;
    font-size: 2.5rem;  

    @media (max-width: 580px) {
        padding-bottom: 0;
    }
}

#navBar {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;

    input,
    span {
        display: none;
    }

    #navLinks {
        box-shadow: 0 2px 5px $dark;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: flex;
        background: $medium3;
    
        a {
            line-height: 3.5rem;
            font-size: 1.2rem;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 10px;
            text-decoration: none;
            color: $light;
            transition: 150ms;
            word-wrap: unset;
    
            &::before, &::after {
                visibility: hidden;
                opacity: 0%;
                pointer-events: none;
                display: block;
                content: '';
                height: 0.15rem;
                background: $light3;
                transition: 300ms;
                margin: auto;
                border-radius: 20%;
                width: 80%;
            }
    
            &::before {
                transform: translate(20px, 15px);
            }
    
            &::after {
                transform: translate(-20px, -15px);
            }
    
            &:hover {
                color: white;
    
                &::before, &::after {
                    visibility:visible;
                    opacity: 100%;
                }
    
                &::before {
                    transform: translate(0px, 15px);
                }
    
                &::after {
                    transform: translate(0px, -15px);
                }
            }
        }
    }
}

@media (max-width:580px) {

    #navBar {
        position: fixed;
        right: 0;
        width: auto;
        pointer-events: none;
    
        input,
        span {
            right: 0;
            display: block;
            position: fixed;
            width: 3.5rem;
            height: 3.5rem;
            z-index: 2;
        }

        input {
            z-index: 3;
            opacity: 0%;
            pointer-events: all;
        }
    
        .burger input:checked {
            ~ .burgerTop {
                transform: rotate(45deg) translate(12px, 25px);
                background: white;
                border: 0px solid $medium;
                width: 35px;
                height: 0.2rem;
            }

            ~ .burgerMid {
                opacity: 0;
                transform: translate(100%);
                background: white;
            }

            ~ .burgerBot {
                transform: rotate(-45deg) translate(7px, -20px);
                background: white;
                border: 0px solid $medium;
                width: 35px;
                height: 0.2rem;
            }

            ~ #navLinks {
                transform: translateX(0);
                box-shadow: 0px 0 10px 2px $dark;
            }
        }

        .burgerTop,
        .burgerMid,
        .burgerBot {
            border: 5px solid $medium3;
            background: white;
            height: 0.8rem;
            border-radius: 2px;
            width: 38px;
            position: absolute;
            right: 5px;
            transform-origin: right;
            transition: 150ms;
            z-index: 2;
        }
        
        .burgerTop {
            top: 10px;
        }
        
        .burgerMid {
            top: 20px;
        }
        
        .burgerBot {
            top: 30px;
        }

        #navLinks {
            box-shadow: none;
            align-items: start;
            justify-content: flex-start;
            flex-direction: column;
            display: flex;
            transform: translateX(100%);
            transition: 250ms;
            height: 100vh;
            pointer-events: all;
        
            a {
                line-height: 2.8rem;
                width: 100%;
                height: auto;
                padding-right: 70px;
                border-bottom: 1px solid $light3;

                &::before {
                    transform: translate(20px, 10px);
                }
        
                &::after {
                    transform: translate(-20px, -10px);
                }
        
                &:hover {
        
                    &::before {
                        transform: translate(0px, 10px);
                    }
        
                    &::after {
                        transform: translate(0px, -10px);
                    }
                }
            }
        }
    }
}

main {
    padding: 20px 0;
    margin: 0 auto;
    max-width: $maxWidth;
    width: 90vw;
    justify-content: center;
    text-align: justify;
}



// .....................................................
// ABOUT US STYLES
// .....................................................

.title {
    margin: 30px 0 30px 10%;
    font-family: $font3;
    font-size: 1.5rem;
    
    &::after {
        transform: translateX(-15px);
        content: "";
        display: block;
        position: absolute;
        width: 80%;
        max-width: 400px;
        height: 0.5rem;
        background: $medium;
        border-radius: 1000% 0 1000% 0;
    }

    @media (max-width:580px) {
        margin-left: 10px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 30px;
            width: 60%;
            height: 0.4rem;
            background: $medium;
            border-radius: 1000% 0 1000% 0;
            border-radius: 0 1000% 0 1000%;
            transform: translateY(-10px);
        }
    }
}

.aboutBanner {
    max-height: 150px;
    object-fit: cover;
    width: 90vw;
    max-width: $maxWidth;
}

.banner1 {
    display: none;
}

@media (max-width:580px) {
    .banner1 {
        display: block;
    }
    .banner2 {
        display: none;
    }
}

p {
    margin: 25px auto;
    font-family: $font4;
    font-size: 1rem;

    a {
        font-family: $font4;
        font-size: 1rem;
        font-weight: 600;
        color: $dark3;
        transition: 200ms;
        text-decoration: none;

        &:hover {
            color: $medium3;
        }
    }
}



#galleryWrapper {
    background: $dark;
    padding: 4px;
    border-radius: 15px;
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    margin: 40px auto;
    box-shadow: 0px 0px 10px 5px $light3;
}

#aboutGallery {
    position: relative;
    width: 100%;
}

.aboutImage {
    position: absolute;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;

}


// .....................................................
// OUR FISH STYLES
// .....................................................

$stockDimensions: 150px;

#stockWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stockItem {
    margin: 15px;
    padding: 5px;
    box-shadow: 0px 0px 15px 5px $light;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: $stockDimensions * 2;
    max-width: $stockDimensions * 3;
    flex-grow: 1;
    border-radius: 5px;
    
    a {
        width: $stockDimensions;
        height: $stockDimensions;
        overflow: hidden;

        &:hover .thumbnailImage {
            transform: scale(1.05);
        }
    }
}

.thumbnailImage {
    width: $stockDimensions;
    height: $stockDimensions;
    object-fit: cover;
    transition: 0.3s;
    overflow: hidden;
}

.itemInfo {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    flex-grow: 1;
    width: 40%;
}

.itemDescription {
    font-size: 1rem;
    text-align: left;
    font-family: $font5;
    font-weight: 600;
}

.itemPrice {
    text-align: right;
    font-size: 0.9rem;
    font-family: $font5;
    font-weight: 400;
}


// .....................................................
// MARKETS & DELIVERY STYLES
// .....................................................

#marketsBanner {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#marketsTop {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: 580px) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

#marketsImage {
    width: 70vw;
    max-width: 500px;
    min-width: 300px;
    margin-right: 20px;
}

#marketsText {
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    margin-bottom:40px;
    font-family: $font2;
    font-weight: 400;

    caption {
        display: none;
    }
}

.tableHeader {
    font-size: 1.1rem;
    text-align: center;
}


// .....................................................
// CONTACT STYLES
// .....................................................


.callPaul {
    text-align: center;
    font-size: 1rem;

    strong {
        font-size: 1.1rem;
    }
}



#contactImage {
    object-fit: cover;
    width: 90vw;
    max-width: 400px;
    display: block;
    margin: 0 auto 40px auto;
    border-radius: 10px;
}


#contactForm ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .formGroup {
        margin: 10px 20px;
        list-style: none;

        & .formEntry {
            padding: 8px 5px 5px 5px ;
            width: 90vw;
            max-width: 600px;
            font-size: 1.1rem;
            border-radius: 3px;
            border: 1px solid hsl(0, 0%, 50%);
        }

        & textarea {
            min-height: 80px;
            min-width: 300px;
            border-radius: 3px;
        }
    }

    & button {
        padding: 5px 20px;
        font-size: 1.1rem;
        border-radius: 3px;
        border: 1px solid hsl(0, 0%, 50%);
    }
}




footer {
    width: 100%;
    text-align: center;
    font-size: 16px;
    background: $dark3;
    color: white;
    padding: 10px;
}